body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #d9e4e2 ;
}
.root {
  margin: 0 auto;
}

.card-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #a1b1d4;
  font-size: 35px;
  color:white ;
  text-align: center;
  line-height: 90px;
  margin: 5px auto;
  
}

.cards {
  max-width: fit-content;
  margin: 2px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding:0;
  
}

.title {
  font-size: 1.1rem;
  
}

.card-body {
  margin-bottom: 35px;
}

/* style for individual user cards */
.user-cards {
  background-color:#f8efef ;
  text-align: center;
  height: 250px;
  width: 200px;
  margin: 5px auto;
  border: 1px solid rgb(238, 238, 238);
  padding:10px;
  box-shadow: 10px 10px 5px grey;
}




.full-card {
  
  background-color:#57a7d8 ;
  width: 400px;
  margin: 10% auto;
  border: 1px solid rgb(238, 238, 238);
  padding:10px;
  box-shadow: 10px 10px 5px grey;
}


/* creating styles for responsive design to fit mobile and tablet devices*/
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(83, 83, 78);
  }
  .cards {
    max-width: fit-content;
    margin: 2px auto;
    display: flex;
    flex-direction: column;    
    padding:0;
    
  }
  .full-card {
  
    background-color:#57a7d8 ;
    width: 300px;
    margin: 10% auto;
    border: 1px solid rgb(238, 238, 238);
    padding:10px;
    box-shadow: 10px 10px 5px grey;
  }

}